DirectoryIndex router.php index.php index.html

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^project/([0-9]+)/?$ router.php?module=project&id=$1 [NC,L]
RewriteRule ^edit-entity/([0-9]+)/?$ router.php?module=edit-entity&id=$1 [NC,L]
RewriteRule ^(.*)/$ router.php?module=$1 [NC,L]
RewriteRule ^(.*)$ router.php?module=$1 [NC,L]
