@charset "UTF-8";
/* CSS Document */
#main {
	margin-top: 180px;
	margin-bottom: 25px;
}
#main_frame {
	margin: 0 10px 0 8px;
}
#project_card {
	font-size: 24px;
	padding: 20px;
	background:  url(../../images/bg_cube.png) bottom center no-repeat fixed;
}
#project_information_card .card_top {
	background: #00BCD4;
}
#project_information_card .card_content {
	color: rgba(2,2,2,1.00);
	font-size: 16px;
	padding: 25px;
}
#group_members_card .card_top {
	background: #9E9E9E;
}
#group_members_card .card_content {
	color: rgba(2,2,2,1.00);
	font-size: 16px;
	padding: 25px;
}
#group_members_card_member_list {
	color:#494949;
	font-size:16.5px;
	padding: 0;
	list-style-type: none;
}
#group_members_card_member_list li {
	padding: 2px 0 2px 10px;
}
#media_card .card_top {
	background: #607D8B;
}
#media_card {
}
#media_card .card_content {
	color: rgba(2,2,2,1.00);
	font-size: 16px;
	padding: 25px;
}
#card_no_contents {
	text-align:center;
	font-size:24px;
	color:rgba(125,125,125,0.75);
	padding:50px 20px 50px 20px;
}
#project_card_menu {
	margin: 20px 20px 25px 20px;
}
#project_card_menu_title {
	color: rgba(38,38,38,0.75);
}
#project_card_menu_buttons {
	float: right;
	color: rgba(38,38,38,0.75);
}
#project_card_menu_buttons button {
	margin-left: 10px;
}
.project_information_card_attribute {
}
.project_information_card_attribute_title {
	color:#00BCD4;
	display:block;
	margin-bottom:15px;
	font-size:18px;
}
.project_information_card_attribute_content {
	font-size:18.5px;
	display:block;
	line-height:180%;
	text-align:justify;
	margin-bottom:50px;
}