@charset "UTF-8";
/* CSS Document */
body {
	font-family: sans-serif;
}
.image_button {
	border: none;
	background: none;
	outline: none;
}
.text_button {
	background: none;
	font-size: 16px;
	border: none;
	outline: none;
	font-weight: bold;
}
.card {
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 3px 3px 3px rgba(5,5,5,0.10);
	margin-bottom: 20px;
}
.card .card_top {
	padding: 20px;
}
.card .card_content {
	min-height: 100px;
}
.card .card_bottom {
	padding: 20px;
}
.card .card_top .card_title {
	color: rgba(255,255,255,1.00);
	font-size: 15.5px;
}
.color_blue {
	color: #2196F3;
}
.color_red {
	color: #F44336;
}