@charset "UTF-8";
/* CSS Document */
#main {
	margin-top: 180px;
	margin-bottom: 25px;
}
#main_frame {
	margin: 0 10px 0 8px;
}
#entity_edit_card {
	font-size: 24px;
	padding: 20px;
	background:  url(../../images/bg_cube.png) bottom center no-repeat fixed;
}
#entity_edit_card_menu {
	margin: 20px 20px 25px 20px;
}
#entity_edit_card_title {
	color: rgba(38,38,38,0.75);
}