@charset "UTF-8";
/* CSS Document */
body {
	background: rgba(236,236,236,1.00);
}
#main {
	margin-top: 180px;
	margin-bottom: 25px;
}
#main_frame {
	margin: 0 10px 0 8px;
}
#control_panel_card_top {
	background: #8BC34A;
	padding: 20px;
}
#control_panel_card_top_title {
	font-size: 20px;
	color: rgba(255,255,255,1.00);
}
#control_panel_card_menu_toggle {
	cursor: pointer;
}
#control_panel_card_menu_dropdown {
	margin-top: 10px;
	font-size: 16px;
	display:none;
}
#control_panel_card_menu_dropdown ul {
	list-style-type: none;
	padding: 0 0 0 10px;
}
#control_panel_card_menu_dropdown li:hover {
	cursor: pointer;
	background: rgba(255,255,255,0.15);
}
#control_panel_card_menu_dropdown li {
	padding: 5px 0 5px 15px;
}
#control_panel_card_option_list_area {
	padding: 20px;
}
#control_panel_card_option_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 18px;
	color: #616161;
}
.control_panel_card_option_list_item {
	padding: 20px 0 20px 25px;
}
.control_panel_card_option_list_item:hover {
	cursor: pointer;
	background: #F8F8F8;
}
.control_panel_card_option_list_selected {
	background: #EAEAEA !important;
}
.control_panel_card_sub_option_list_title {
	color: #00838F;
	font-size: 22px;
}
#control_panel_card_setting_area {
	padding: 35px 20px 20px 15px;
}
.control_panel_card_option_list_icon {
	margin-right: 10px;
	width: 22px;
}
.control_panel_card_sub_option_list_title {
	color: #00838F;
	font-size: 22px;
}
.control_panel_card_sub_option_list_item {
	padding: 5px 0 5px 0px;
	color: #616161;
	font-size:20px;
}
.control_panel_card_sub_option_list_item i {
	width: 65px;
	font-size: 26px;
}
.control_panel_card_sub_option_list_item:hover {
	background: #F8F8F8;
	cursor:pointer;
}
.control_panel_card_sub_option_list_item .fa {
	padding: 20px 0 20px 25px;
}
.control_panel_title {
	color: #00838F;
	font-size: 22px;
}