@charset "UTF-8";
/* CSS Document */
#header {
	background: #009688;
	color: #FFFFFF;
	padding: 25px;
	box-shadow: 0 6px 6px rgba(5,5,5,0.10);
	position: fixed;
	height: 155px;
	width: 100%;
	top: 0;
	z-index: 6;
}
#header_title {
	font-size: 28px;
}
#header_menu ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	position: relative;
	top: -7px;
}
#header_menu li {
	display: inline;
	margin-right: 14px;
	font-size: 16px;
	border-bottom: rgba(255,255,255,0.85) 3px solid;
	color: rgba(255,255,255,0.85);
	padding-bottom: 2px;
}
#header_menu li:hover {
	color: rgba(255,255,255,1.00);
	border-color: rgba(255,255,255,1.00);
	cursor: pointer;
}
#header_menu_current_selection {
	font-size: 30px;
	font-weight: bold;
}
#header_user_account {
	position: fixed;
	right: 45px;
	top: 30px;
	text-align: center;
	background: rgba(101,101,101,0.25);
	padding: 10px 15px 10px 15px;
	border-radius: 6px;
	min-width: 230PX;
}
#header_user_account img {
	width: 55px;
}
#header_user_account_username {
	font-size: 16px;
	display: inline-block;
	margin-top: 5px;
}
#header_user_account_dropdown {
	background: rgba(255,255,255,0.95);
	margin-top: 10px;
	color: #607D8B;
	border-radius: 4px;
	text-align: center;
	padding: 30px 0 30px 0;
	font-size: 16px;
	display: none;
}
#header_user_account_toggle_area {
	cursor: pointer;
}
